@import "../../node_modules/bootswatch/dist/materia/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootswatch/dist/materia/bootswatch";

main {
  max-width: 320px;
}

#print-area {
  max-width: 500px;
}

input.form-control {
  color: #111;
  font-size: 2.4em;
  font-weight: bold;
  height: 1.5em;
}

@media print {
  body * {
    visibility: hidden;
  }

  #print-area, #print-area * {
    visibility: visible;
  }

  #print-area {
    position: absolute;
    left: 0;
    top: 0;

    input {
      border: none;
    }
  }
}
